$bg-blue: rgba(73, 119, 208, 0.53);
$bg-brown: rgba(168, 115, 28, 0.53);
$bg-green: rgba(84, 193, 118, 0.53);
$bg-beige: rgba(253, 228, 127, 0.53);
$bg-white: rgba(255, 255, 255, 0.53);
$bg-light-blue: rgba(105, 193, 242, 0.53);
$bg-white_transp: rgba(255, 255, 255, 0.3);
$bg-white-more: rgba(255, 255, 255, 0.9);
$color-base: #fff;
$btn-radius: 7px;
